<% if message.user == current_user %>
    <div class="message_current_user">
      <div class="message_current_user_layout">
        <div class="content_message_current_user">
          <%= message.content %> 
           <div class="message_time">
             <div class="time_send_message">
                <%= message.created_at.to_s(:time)  %>
             </div>
           </div>
        </div>
      </div>
    </div>
<% else %>
<div class="message_other_users">
  <div class="message_other_users_layout">
    <div class="content_message_other_users">
        <b><%= message.user.username %></b><br>
         <%= message.content %>
       <div class="message_time">
         <div class="time_send_message">
           <%= message.created_at.to_s(:time) %>
         </div>
       </div>
    </div>
  </div>
</div>
<% end %>