<%= turbo_stream.update "message" do %>

<% @room.messages.each do |message| %>
  <div class="message mb-3 <%= 'me' if  message.user == User.find(session[:user_id]) %>">
    <div class="content-container">
      <div class="content">
       <%= message.content %>
      </div>
    <div class="author">
      <%= message.user.username %>
    </div>
    </div>
    </div>
    <br>
<% end  %>
<div class="chat-box">
  <%= render 'messages/form', message: Message.new , room: @room %>
</div>
<% end %>