<%= form_for (:session) do |f| %>
  <%= f.label :username, 'Enter your username' %>
  <%= f.text_field :username, autocomplete: 'off' %>
  <%= f.submit 'Sign in' %>
<% end %>
<div style="color:red">(if you dont have an account click on the below link.)</div>
<p><%= link_to "Signup",new_user_path %></p>