<%= turbo_stream.update "list of rooms" do %>
  <% @rooms.each do |room| %>
   <%= link_to room , data:{turbo:false} do  %>
      <div class="card mb-2">
        <div class="card-body">
          <%= room.name %>
        </div>
      </div>
      <% end %>
    <% end %>
<% end %>

<%= turbo_stream.update "new room" do %>
  <%= render "form",room: Room.new %>
<% end %>