<div class="bg_print">
<div class="left_sidebar">
  <div class="search_bar">
   <div class="w3-dropdown-hover">
    <div class="w3-button menu_bar_background">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
      </div>
      <div class="w3-dropdown-content w3-bar-block w3-border">
       <%= link_to "Add Room",new_room_path,class:"w3-bar-item w3-button" %>
       <%= link_to "Logout",signout_path,class:"w3-bar-item w3-button" %>
      </div>
    </div>
    <div class="search">
      <div class="border">
      </div>
      <div class="search_text"> 
        Search
      </div>
    </div>
   </div>
    <div class="chat_list">
      <%= turbo_stream_from "rooms" %>
      <div id="rooms">
        <%= render @rooms %>
      </div>
    </div>
  </div>
   <div class="content">
     <% if @single_room %>
      <div class="top_bar">
        <div class="top_bar_content">
        <div class="top_bar_avatar">
        </div>
        <div class="top_bar_text">
          <div class="top_bar_text_name">
            <div class="chat_room_name">
               <%= @single_room.name %>
            </div> 
          </div>
          <div class="top_bar_text_last_seen">
            <div class="last_seen_text">
              last seen 5 min ago
            </div>
          </div>
        </div>
       </div>
      </div>
      <%= turbo_stream_from @single_room %>
      <div class="chat_room_message_section">
       <div class="date_sent">
       </div>
        <div id="messages">
          <%= render @messages %>
        </div>
         <%= render partial: 'messages/new_message_form' %>
        <% end %>
     </div>
    </div>
  </div>

